h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    color: black;
    font-style: italic;
    font-weight: bold;
    text-decoration: line-through;
    text-align: center;
}

a{
    text-decoration: none;
}

p{
    color:green;
    font-size: 23px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

.second{
    text-decoration: underline wavy;
    font-size: 23px;
    font-weight: bold;
    color:pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* selectors tutorial */
.html{
    color:red;
}