*{
    margin:0;
    padding:0;
}

/* div{
    min-height: 200px;
    max-width:300px;
    padding:18px;
    border:10px solid black;
    margin:20px;
} */

.box1,.box2{
    height:100px;
    width:100px;
}

.box1{
    margin:30px;
    background-color: aquamarine;
}

.box2{
    margin:30px;
    padding:30px;
    background-color: cadetblue;
}

.wrapper{
    background-color: black;
}