*{
    margin:0;
    padding:0;
}

.one{
    background-color: aquamarine;
    max-width:50%;
    padding:20px;
    border: 50px solid red;
    box-sizing: border-box;
    /* word-break: break-all; */
    /* min-height: 100px; */
    /* overflow: hidden; */
}

.two{
    background-color: aqua;
    max-width: 50px;
}