/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.one{
    background-color: aquamarine;
    max-width:50%;
    padding:20px;
    border: 50px solid red;
    border-radius: 80%;
    box-sizing: border-box;
    /* word-break: break-all; */
    /* min-height: 100px; */
    /* overflow: hidden; */
/* } */

.two{
    background-color: aqua;
    width: 50px;
    height: 50px;
    border-radius: 30%;
} */

.body{
    margin:0;
    width: 600px;
    /* background-color: green; */
}

html{
    width: 400px;
}

/* % unit in css */
section{
    /* vw is browers width half */
    /* vh is 50% of viewport height */
    width:50vh;
    /* height: 500px; */
    background-color: blue;
    border: 1vw solid red;
    font-size:10vw;
}

.box{
    background-color: chartreuse;
    width:50%;
    margin-top:20px;
    padding:24px;
    box-sizing: border-box;
}